* {

    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}
body{

    background-color: #f0f2f5;
    font-family: 'poppins', sans-serif;
}
.container{

    width: min(90vw,1000px);
    margin: auto;
    margin-top: -8rem;  
}
html{

    font-size: 93.75%;
}

/* ================ Header ==================*/

header{

    background-color: rgb(97, 190, 252);
    padding: 1rem 0 9rem;
    text-align: center;
}
#logo{

    color: #fff;
    font-weight: 300;
}
/* ================ Main ==================*/
.card{

    background-color: white;
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;    
    margin: 0 1rem 2rem;
}
.balance{
    
    padding: 1rem 1.5rem;
    border-radius: 0.5rem;    
    margin: 0 1rem 2rem;
    background-color: rgb(23, 167, 23);
}
.balance.active{

    padding: 1rem 1.5rem;
    border-radius: 0.5rem;    
    margin: 0 1rem 2rem;
    background-color: rgb(255, 0, 0);
}

.flow .balance h2,
.flow .balance p{

    color: white;
}
.flow{

    width: min(90vw,1000px);
    padding-top: 1rem;  
}
.filterData{

    display: grid;
    grid-template-columns: 100px 1fr 100px;
    align-items: center;
    padding:5px 0px;
}
.controlData{

    display: grid;
    grid-template-columns: 1fr 100px 1fr;
    align-items: center;
    justify-content: center;
}

.divAdd{

    display: flex;
    justify-content: center;
    align-items: center;
}
.controlLeft{

    display: flex;
    justify-content:flex-end;
    align-items: center;
}
.controlRight{
    display: flex;
    justify-content:left;
    align-items: center;
}
.controlCenter{

    display: flex;
    justify-content:center;
    align-items: center;
}

/* ================ table ==================*/

#data-table{

    width: 100%;
    border-spacing: 0 0.5rem;
}

table td{

    background-color: white;
    padding: 1rem 0rem;    
}
table th{

    background-color: white;
    padding: 1rem 0rem;
    text-align: left;
}
table thead tr th:first-child,
table tbody tr td:first-child{

    border-radius: 0.5rem 0 0 0.5rem;
}
table thead tr th:last-child,
table tbody tr td:last-child{
    
    border-radius: 0 0.5rem  0.5rem 0;
}
.tdAction{

    width: 100px;
    padding-left: 1rem;
    padding-right: 1rem;
}
.tdDate{

    width: 150px;
    padding-left: 1rem;
}
.tdValue{

    width: 150px;
    padding-left: 1rem;
}
.tdRevenue{

    width: 150px;
    padding-left: 1rem;
}
.trDados.expense{

    color: red;
}
.trDados.revenue{

    color: green;
}

/* ================ Modal ==================*/
.modal-overlay{

    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    visibility: hidden;
}
.modal-overlay.active{

    opacity: 1;
    visibility: visible;
}
#space{

    max-width: 600px;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    background-color: #f0f2f5;
    border-radius: 0.5rem;
}
.form{

    display:block;
    width: 275px;
    margin: 1rem;    
}
.form h2{

    margin-top: 0;
}
.form input{

    border: none;
    padding: 0.8rem;
    width: 100%;
    border-radius:0.5rem ;
}
.input-group{

    margin-top: 0.5rem;
}
.input-group.actions{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1rem;
}
.input-group.actions button,
.input-group.actions .button{

    width: 48%;
}

button{

    width: 100%;
    height: 50px;
    border: none;
    color: white;
    background-color: green;
    cursor: pointer;
    border-radius: 0.5rem;
    font-size: 15px;
    font-family: 'poppins', sans-serif;
}
button:hover{

    background-color: rgb(0, 235, 0);
}
.button{

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50px;
    border: 2px rgb(255, 70, 70) solid;
    color: rgb(255, 70, 70);
    border-radius:0.5rem ;
    text-decoration: none;
    font-size: 15px;
    font-family: 'poppins', sans-serif;
}
.button:hover{

    border: 3px red solid;
    color: red;
}
.radioInput{

    display: block;
}
.radioInput.set{

    display: grid;
    grid-template-columns: 30px 1fr 1fr;
    align-items: center;
}

/* ================ Image ==================*/
.fas{

    color:black;
    font-size: 20px;
}
.fas.fa-plus{

    color:green;
    font-size: 40px;
    margin: 5px;
}
.fas.fa-plus:hover{

    color:rgb(0, 235, 0);
    font-size: 50px;
    margin: 0px;
}
.fas.fa-minus-circle{

    color: rgb(245, 127, 127);
}
.fas.fa-minus-circle:hover{

    color: red;
}
.fas.fa-angle-left{

    font-size: 40px;
    margin: 5px;
}
.fas.fa-angle-right{

    font-size: 40px;
    margin: 5px;
}
.fas.fa-edit:hover{

    color:rgb(94, 94, 0);
}
.fas.fa-angle-left:hover,
.fas.fa-angle-right:hover{

    font-size: 50px;
    margin: 0;
}
/* ================ Footer ==================*/
footer{

    text-align: center;
    margin-top: 3rem;
    margin-bottom: 2rem;
}

@media (min-width: 800px){

    html{

        font-size: 87.5%;
    }

    .flow{

        display: grid;
        grid-template-columns: repeat(3 , 1fr);
        gap: 1rem; 
    }
    

}

